# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore dataset and processed images
dataset/
processed_images/

# Ignore virtual environment directories
venv/
env/

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore node_modules and build directories
node_modules/
dist/
dist-ssr/

# Ignore local environment files
*.local

# Ignore editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore pnpm lock file
pnpm-lock.yaml