fastapi
uvicorn
opencv-python
numpy
pillow
python-dotenv
google-generativeai
langchain-core
dataclasses-json
google-ai-generativelanguage
requests
charset-normalizer
backoff
supervision
pymongo
langchain-google-genai
aiohttp
celery[redis]
redis
inference-sdk
python-multipart
